/* html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
} */



html { font-family: "Gill Sans", sans-serif; background: #faf7f7; padding: 1rem; }
body { width: 90%; margin: 0 auto; background: white; }
h1,h2,h3,h4,h5,h6 { font-family: "Gill Sans", sans-serif; color: #060606; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: rgb(6, 6, 6); display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
label { font-family: Georgia, 'Times New Roman', Times, serif; color: #1d1c1c; margin: 0.3rem;}
.table-container {
  max-height: 400px; /* Adjust the height as needed */
  width: 100%;
  overflow-y: auto;
  display: inline-block;
  white-space: nowrap;
}

.menu a{
  color:#377ba8;
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
  width:200px;
}

.top-right {
  position:absolute;
  top: 130px;
  right: 130px;
}

.balance {
  position:absolute;
  top: 250px;
  right: 700px;
}
.worth {
  position:absolute;
  top: 250px;
  left: 600px;
}
.operation_balance {
  position:absolute;
  top: 350px;
  left: 600px;
}
/* .menu li{
  list-style: none;
  margin-left:0px;
  margin-bottom: 30px;
  padding-left: 20px;
  width:200px;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgba(154, 154, 154, 0.673);
}
.menu a:hover{
  color:rgb(1, 30, 105);
  font-weight: bolder;
  font-size: 30px;
}
.menu li:hover{
  background-color: rgba(227, 227, 227, 0.577);
  width:200px;
  border-left-color: rgb(1, 30, 105);
  border-left-width: 5px;
  color:rgb(1, 30, 105);
} */
